In [2]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

from pandas import read_html

In [3]:
numbers = State(even=0, odd=1)

even    0
odd     1
dtype: int64

In [4]:
def update_even(state):
    even = state.even + 2
    return even

In [5]:
def update_odd(state):
    odd = state.odd + 2
    return odd

In [8]:
def run_simulation(time,state,series):
    for i in range(time):
        update_odd(state)
        update_even(state)
        series[i] = state
    return series

In [9]:
results = TimeSeries()
run_simulation(5,numbers,results)

0    even    0
odd     1
dtype: int64
1    even    0
odd     1
dtype: int64
2    even    0
odd     1
dtype: int64
3    even    0
odd     1
dtype: int64
4    even    0
odd     1
dtype: int64
dtype: object